<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/js/main.js" defer></script>
</head>

<body>
    <h1>Calculadora</h1>
    <div class="container">
        <div class="display">
                
        </div>
        <div class="numbers">
            <button class="numero">7</button>
            <button class="numero a2">8</button>
            <button class="numero">9</button>
            <button class="numero">4</button>
            <button class="numero">5</button>
            <button class="numero">6</button>
            <button class="numero">1</button>
            <button class="numero">2</button>
            <button class="numero">3</button>
            <button class="item1 numero">0</button>
            <button class="item2">,</button>
            <button class="clear">C</button>
            <button class="item3 operador">+</button>
            <button class="item4 operador">-</button>
            <button class="item5 operador">÷</button>
            <button class="item6 operador">x</button>
            <button class="item7">=</button>
        </div>
    </div>
</body>

</html>